In [4]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os

In [5]:
Mpox = pd.read_csv(os.path.join("C:\\Users\\kam52\\OneDrive\\Desktop\\DA1\\data_1_check\\Monkeypox.csv"))
Mpox

,ID,Status,Location,City,Country,Age,Gender,Date_onset,Date_confirmation,Symptoms,...,Travel_history_location,Travel_history_country,Genomics_Metadata,Confirmation_method,Source,Source_II,Date_entry,Date_last_modified,Source_III,Country_ISO3
0,1.0,confirmed,Guy's and St Thomas Hospital London,London,England,NaN,NaN,2022-04-29,2022-05-06,rash,...,Lagos and Delta States,Nigeria,West African Clade,RT-PCR,https://www.gov.uk/government/news/monkeypox-c...,https://www.who.int/emergencies/disease-outbre...,2022-05-18,2022-05-18,NaN,GBR
1,2.0,confirmed,Guy's and St Thomas Hospital London,London,England,NaN,NaN,2022-05-05,2022-05-12,rash,...,NaN,NaN,West African Clade,RT-PCR,https://www.gov.uk/government/news/monkeypox-c...,NaN,2022-05-18,2022-05-18,NaN,GBR
2,3.0,confirmed,London,London,England,NaN,NaN,2022-04-30,2022-05-13,vesicular rash,...,NaN,NaN,West African Clade,RT-PCR,https://www.gov.uk/government/news/monkeypox-c...,NaN,2022-05-18,2022-05-18,NaN,GBR
3,4.0,confirmed,London,London,England,NaN,male,NaN,2022-05-15,vesicular rash,...,NaN,NaN,West African Clade,NaN,https://www.gov.uk/government/news/monkeypox-c...,NaN,2022-05-18,2022-05-18,NaN,GBR
4,5.0,confirmed,London,London,England,NaN,male,NaN,2022-05-15,vesicular rash,...,NaN,NaN,West African Clade,NaN,https://www.gov.uk/government/news/monkeypox-c...,NaN,2022-05-18,2022-05-18,NaN,GBR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1128,1128.0,discarded,NaN,NaN,Thailand,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,https://www.thephuketnews.com/suspected-monkey...,NaN,2022-06-05,2022-06-05,NaN,THA
1129,1129.0,discarded,NaN,NaN,Thailand,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,https://www.thephuketnews.com/suspected-monkey...,NaN,2022-06-05,2022-06-05,NaN,THA
1130,1130.0,discarded,NaN,NaN,Thailand,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,https://www.thephuketnews.com/suspected-monkey...,NaN,2022-06-05,2022-06-05,NaN,THA
1131,1131.0,discarded,NaN,NaN,Thailand,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,https://www.thephuketnews.com/suspected-monkey...,NaN,2022-06-05,2022-06-05,NaN,THA
1132,1132.0,discarded,NaN,NaN,Thailand,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,https://www.thephuketnews.com/suspected-monkey...,NaN,2022-06-05,2022-06-05,NaN,THA

In [6]:
df = pd.read_csv("C:\\Users\\kam52\\OneDrive\\Desktop\\DA1\\data_1_check\\Monkeypox.csv", usecols = ['Status','Country'])
print(df)

         Status   Country
0     confirmed   England
1     confirmed   England
2     confirmed   England
3     confirmed   England
4     confirmed   England
...         ...       ...
1128  discarded  Thailand
1129  discarded  Thailand
1130  discarded  Thailand
1131  discarded  Thailand
1132  discarded  Thailand

[1133 rows x 2 columns]

In [7]:
type(df)

pandas.core.frame.DataFrame

In [8]:
pd.unique(df['Country'])

array(['England', 'Portugal', 'Spain', 'United States', 'Canada',
       'Sweden', 'Italy', 'France', 'Belgium', 'Australia', 'Germany',
       'Netherlands', 'Israel', 'Switzerland', 'Greece', 'Austria',
       'Argentina', 'Denmark', 'Morocco', 'Slovenia', 'Scotland',
       'Czech Republic', 'United Arab Emirates', 'Finland', 'Wales',
       'Northern Ireland', 'Sudan', 'Bolivia', 'Iran', 'Ecuador', 'Malta',
       'Ireland', 'Mexico', 'Pakistan', 'French Guiana', 'Thailand',
       'Peru', 'Brazil', 'Malaysia', 'Hungary', 'Norway', 'Paraguay',
       'Costa Rica', 'United Kingdom', 'Mauritius', 'Haiti', 'Uruguay',
       'Latvia', nan, 'Cayman Islands'], dtype=object)

In [12]:
country_group= df.groupby('Country').count()
print(country_group)

                      Status
Country
Argentina                  2
Australia                  7
Austria                    1
Belgium                   17
Bolivia                    3
Brazil                     4
Canada                    97
Cayman Islands             1
Costa Rica                 1
Czech Republic             6
Denmark                    2
Ecuador                    1
England                  214
Finland                    2
France                    51
French Guiana              2
Germany                   66
Greece                     1
Haiti                      1
Hungary                    1
Iran                       6
Ireland                    6
Israel                     4
Italy                     29
Latvia                     1
Malaysia                   3
Malta                      1
Mauritius                  3
Mexico                     1
Morocco                    4
Netherlands               40
Northern Ireland           2
Norway                     2
Pakistan                   1
Paraguay                   1
Peru                       1
Portugal                 143
Scotland                   8
Slovenia                   3
Spain                    327
Sudan                      1
Sweden                     5
Switzerland                8
Thailand                   9
United Arab Emirates       8
United Kingdom             1
United States             28
Uruguay                    4
Wales                      2